body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
  grid-gap: 16px;
  justify-content: center;
  padding: initial;
  width: 100%;
}

.login, .bikeInputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  margin-top: 200px;
}